<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>
<%  if !current_user %>
  <div class="container-fluid row control-label center-col ">
    <div class="card main-card col-md-4 offset-md-4">
    <%= form_for :session, url: '/sessions' do %>
      Name: <%= text_field_tag :name %>
      Password: <%= password_field_tag :password %>
    <%= submit_tag "Log in" %>
  </div>
  </div>
  <% end %>
<% else %>
  <h2>You are already signed in!</h2>
<% end %>
